@charset "UTF-8";
/* CSS Document */
body {
	background-color:white;
}

.logo {
	width: 250px;
	height: 100px;
	display:block;
	float:left;
}



.nav  {
	height: 132px;
	width: 100%;
	background-color: transparent;
	float:right;
}
.top-nav {
	width: 100%;
	height: 9px;
}





/* ~~ Top Navigation Bar ~~ */
.navigation-bar   {
	background-color: transparent;
	height: 32px;
	width: 100%;
	float: right;
}

.main-nav ul   { 
 text-align: center;
}

.main-nav li    {
	display:inline;
	float: right;
	list-style-type: none;
	height: 24px;
  
	
}

.main-nav li a    {
	color: black;
	background-color:transparent;
	font-size:12px;
	font-family: helvetica;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	line-height: 2em;
	padding: 5px;
	margin-top: 200px;
	
}


.main-nav a:hover {
    background-color: transparent;
    color: black;
}

ul:hover li a{
    color: grey;
}

ul li:hover a {
    color: black;
}

.main-nav li:first-child {
	
}






.laraenluna {
	display:block;
	margin-left:auto;
	margin-right:auto;
	 width:100%;
    height:100%;
	
}









h1 {
	text-align:center;
}

h2 {
	text-align:center;
}
p {
	text-align:center;
}





	
	.followig {
		width: 180px;
	height: 40px;
	align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .followig:hover {
      opacity: 0.8;
      }

 



.ig
{
	height: 20px;
	width: 20px;
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .ig:hover {
      opacity: 0.2;
      }

.pinterest
{
	height: 20px;
	width: 20px; 
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .pinterest:hover {
      opacity: 0.2;
      }
