@charset "UTF-8";
/* CSS Document */
body {
	background-color: #f5f5f5;
	
}

header {
	background-color: transparent;
	
}

.header-content {
	background-color: white !important;
}

footer {
	background-color: white;
}


.logo {
	width: 250px;
	height: 100px;
	display:block;
	float:left;
}



.nav  {
	height: 132px;
	width: 100%;
	background-color: white;
	
}
.top-nav {
	width: 100%;
	height: 9px;
}





/* ~~ Top Navigation Bar ~~ */
.navigation-bar   {
	background-color: white;
	height: 32px;
	width: 100%;

}

.main-nav ul   { 
 text-align: center;
	margin-top: 40px;
	margin-left: 900px;
	margin-right: 10px;
}

.main-nav li    {
	display:inline;
	
	
	list-style-type: none;
	height: 24px;
  
	
}

.main-nav li a    {
	color: black;
	background-color:white;
	font-size:12px;
	font-family: helvetica;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	line-height: 2em;
	padding: 5px;
}


.main-nav a:hover {
    background-color: white;
    color: black;
}

ul:hover li a{
    color: grey;
}

ul li:hover a {
    color: black;
}

.main-nav li:first-child {
	
}


/* ~~ Blog "header" ~~ */




.blogpost2index {
 
     display: table;
    width: 800px;
    height: 1000px;
    margin-top: -1100px;
    margin-left: auto;
    margin-right: 600px;
    margin-bottom: auto;
    background-color: white;
    text-align: center;
}

.blogpost2index > div {
    display: table-row;
}

.blogpost2index > div > div {
    display: table-cell;
    vertical-align: middle;
	
}

.blogpost2index span {

   display: block;
   text-align: left;
	
margin-top:532px;
	
	margin-left:25px;
	color: grey;
	font-family: helvetica;
}

.blogpost2header {
		display: block;
	margin-top: -300px;
	margin-left:auto;
	margin-right: auto;
	width: 60%;
	height: 60%;
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.blogpost2header:hover {
	 opacity: 0.4;
}

.blogpost2headertitle {
	font-family: helvetica;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight:300;
	margin-left: 220px;
	margin-right:0px;
	margin-top: 10px;
	
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.blogpost2headertitle:hover {
  opacity: 0.4;
}

.a: {
	color:black;
}

.blogpost2headerdate {
		color: grey;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	margin-top:10px;
	margin-left: 300px;
	margin-right: 0px;
	margin-bottom: 60px;
	font-family: helvetica;
}

.continuereading2 {
width:30%;
	height:30%;
	margin-left: 120px;
	margin-top: 10px;
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.continuereading2:hover {
	  opacity: 0.4;
}
.button:active {
    background-color: #ccc;
}



.blogpost1index {
   display: table;
    width: 800px;
    height: 1000px;
    margin-top: -500px;
    margin-left: 700px;
    margin-right: auto;
    margin-bottom: auto;
    background-color: white;
    text-align: center;
  
}

.blogpost1index > div {
    display: table-row;
}

.blogpost1index > div > div {
    display: table-cell;
    vertical-align: middle;
	
}

.blogpost1index span {
		display: block;
   text-align: left;
	margin-top: 500px;
	
	margin-left:25px;
	color: grey;
	font-family: helvetica;
   
}
	
.blogpost1header {
	display: block;
	  margin-top: -1000px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 60%;
	height: 60%;

	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

   .blogpost1header:hover {
      opacity: 0.4;
      }

.date {
	color: grey;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	margin-top:10px;
	margin-left: 300px;
	margin-right: 0px;
	margin-bottom: 60px;
	font-family: helvetica;
}

.title {
	font-family: helvetica;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight:300;
	margin-left: 220px;
	margin-right:0px;
	margin-top: 10px;
	
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.title:hover {
	  opacity: 0.4;
}

.a: {
	color:black;
}

.blogtextheader {
	margin-top: 20px;
	margin-left: 150px;
	margin-right: auto;
	
}

.continuereading1 {
width:30%;
	height:30%;
	margin-left: 120px;
	margin-top: 10px;
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.continuereading1:hover {
	  opacity: 0.4;
}


/* ~~ Blog post 1~~ */

.blogpost1 {
    display: table;
    width: 800px;
    height: 1000px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: white;
    text-align: center;
  
}

.blogpost1 > div {
    display: table-row;
}

.blogpost1 > div > div {
    display: table-cell;
    vertical-align: middle;
	
}

.blogpost1 span {
	display: block;
   text-align: left;
	
	margin-top: -100px;
	margin-bottom: -1000px;
	margin-left:25px;
	color: grey;
	font-family: helvetica;
   
}
	
.blogpost1header {
	display: block;
	margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
	width: 60%;
	height: 60%;

	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

   .blogpost1header:hover {
      opacity: 0.4;
      }
.blogpost1image {
	width: 90%;
	height: 90%;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: -350px;
}

.dateblog {
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	color: grey;
	margin-left: -50px;
}


.titleblog {
	

	color:black;
	font-family: helvetica;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight:300;
	margin-left: 205px;
}

.textblog {
	margin-top: -10px;
	margin-left:160px;
	
	color: grey;
}

/* ~~ Blog post 2~~ */



.blogpost2 {
    display: table;
    width: 1000px;
    height: 2400px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: white;
    text-align: center;
  
}

.blogpost2 > div {
    display: table-row;
}

.blogpost2 > div > div {
    display: table-cell;
    vertical-align: middle;
	
}

.blogpost2 span {
	display: block;
   text-align: left;
	
	margin-top: -100px;
	margin-bottom: -1000px;
	margin-left:25px;
	color: grey;
	
   
}


.blogpost2image2 {
	width: 90%;
	height:90%;

}

.blogpost2image3 {
	width: 90%;
	height:90%;

}
.blogpost2image4 {
	width: 90%;
	height:90%;

}
.dateblogpost2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	color: grey;
	margin-left: -50px;
	font-family: helvetica;
}

.titleblogpost2 {
color:black;
font-family: helvetica;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight:300;
	margin-left: 340px;
	margin-top: -850px;
}

.textblogpost2 {
		margin-top: -30px;
	margin-left: 100px;
font-family: helvetica;
	color: grey;
}


/* ~~ Footer ~~ */


#footer {
	background-color: white !important;
}

#footer-content {
	overflow:hidden;
}


.laraschnydertoday {
	text-align: center;
}

	.followig {
		width: 180px;
	height: 40px;
	align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .followig:hover {
      opacity: 0.8;
      }

 
/* ~~ About ~~ */

.laraluna {
	float:left;
	width: 50%;
	height: 50%;
	margin-top:60px;
	
}

.about {
	margin-left: 740px;
}

.abouttus {
	color:black;
} 

.abouttext {
	color: grey;
}

.collabs {
	margin-left: 740px;
}

.collabtitle {
	color:black;
}

.collabtext {
	color:grey;
}

a:link {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

a:visited {
	color:black;
}
.ig
{
	margin-left: 100px;
	height: 20px;
	width: 20px;
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .ig:hover {
      opacity: 0.2;
      }

.pinterest
{
	height: 20px;
	width: 20px; 
    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .pinterest:hover {
      opacity: 0.2;
      }

.heart {
	height: 20px;
	width: 20px;
	opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.heart:hover {
	opacity: 0.2;
}

