@charset "UTF-8";
/* CSS Document */


* {
    box-sizing: border-box;
}

* {
	text-decoration:none;
}

body {
    margin: 0;
	width: 75%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
}


.logo {
	text-align:center;
	color:black;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0; 
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  text-transform: uppercase;
  font-size:11px;
  letter-spacing:1px;
}
a:hover{
	color:grey;
}

nav .current {
	color:indianred;
	text-decoration:none;
}

.logo {
	text-align:center;
	color:black;
}


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Create four equal columns that floats next to each other */
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column2 img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
	body {
    margin: 0;
	width: 95%;
	height: 95%;
	margin-left: auto;
	margin-right: auto;
}
	
	.logo {
		float:left;
		padding:10px;
	}
	
.burger-nav {
		display:block;
		height: 24px;
		width:100%;
margin-top: -50px;
float:right;
		background: url(burger.png) no-repeat 98% center;
		background-color:transparent;
		cursor:pointer;
	}
	
	header {
		width: 100%;
		padding: 0;
	}
	header .nav ul {
		overflow:hidden;
		background:white;
		height:0;
	}
	
	header .nav ul.open {
		height:auto;
		
	}
	
		header .nav ul li {
			float:none;
			text-align:center;
			width: 100%;
			margin:0;
	}
	
		header .nav ul li a {
			color: black;
			padding:10px;
			text-transform: uppercase;
			display:block;
			margin:0;
	}
	
	
	.burger-nav .current {
	color:indianred;
	text-decoration:none;
}
	
	.column {
    float: left;
    width: 50%;
    padding: 5px;
}
	.column img {
    margin-top: 0px;
}
		.ig {
    display: none;
  }
	.pinterest {
		display: none;
	}
	
	.rights {
		display: none;
	}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column2 {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column2 {
        width: 100%;
    }
}

   .column3 {
    float: left;
    width: 33%;
    padding: 10px;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column3 {
        width: 100%;
    }
}


.photos {
   /* Prevent vertical gaps */
   line-height: 0;
   margin-left:150px;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   -moz-column-count:    2;
   -moz-column-gap:      0px;
   column-count:         2;
   column-gap:           0px;
   
}
.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

a.darken {
	color:black !important;
    display: inline-block;
    background: transparent;
    padding: 0;
    position:relative;
	
}

a.darken img {
    display: block;
    
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken:hover img {
	
    opacity: 0.1;           
}
a.darken span{
	font-color:black !important;
    visibility:hidden; 
    font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 1px;
    font-size:12px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
}
a.darken:hover span{color:#black; visibility:visible;
	
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}



.imagecaption {
	font-weight:100;
	color:grey;
	font-family: helvetica;
	text-align:center;
}

/*Philippines*/


.ph1 {
	width: 100%;
	height:100%;
}

.ph2 {
	width: 100%;
	height:100%;
}


/*Graphics*/

.graphic1 {
	width: 50%;
	height: 50%;
	float:left;
	padding: 15px;
	
}

.graphic2 {
	width: 50%;
	height: 50%;
	float:right;
padding: 15px;
}

/*Portraits*/
.p1 {
		width: 50%;
	height:50%;
	  padding: 15px;
	
}
.p2 {
		width: 50%;
	height:50%;
	float:right;
  padding: 15px;
}

.p3 {
		width: 100%;
	height:100%;
	  padding: 15px;
}
.p4 {
		width: 50%;
	height:50%;
	float:right;
	  padding: 15px;
}
.p5 {
		width: 50%;
	height:50%;
	  padding: 15px;

}
.p6 {
		width: 100%;
	height:100%;
	  padding: 15px;
}



/*Home*/

.h1 {
	width: 100%;
	height:100%;
}

.h2 {
	width: 100%;
	height:100%;
}

.h3 {
	width: 100%;
	height:100%;
}

/*Bali*/

.b1 {
	width: 100%;
	height:100%;
}

.b2 {
	width: 100%;
	height:100%;
}

.b3 {
	width: 100%;
	height:100%;
}

/*About me*/



.aboutmeimage {
	width: 50%;
	height: 50%;
	float:left;
	padding:10px;
}

.aboutmetext {
	width: 50%;
	float:right;
	padding:10px;
	font-family: 'Pontano Sans', sans-serif;
	font-size:15px;

}

.middle {
	text-align:center;
}



/*Contact*/



.contacttext {
font-family:helvetica;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	
	
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

.q1 {
	float:left;
	width: 49%;
	padding:10px;
}

.q2 {
	width: 49%;
	float:right;
	padding:10px;
}

.q3 {
	float:left;
	width: 49%;
		padding:10px;
}

.q4 {
	width: 49%;
	float:right;
		padding:10px;
}

.message {
	width:100%;
	height: 200px;
	padding:10px 10px 180px 10px;
	resize:none;
	
}

.message * {
	float:right;
}



.contactbutton {
	text-transform:uppercase;
	text-align: center;
 display: block;
    margin: 0 auto;
	width: 100px;
	padding:10px;
    background-color:black;
    color:white;
    border: none;
    outline:none;
   cursor:pointer;
	border: 1px solid black; 
}

.contactbutton:hover {

	 background-color:white;
    color:black;
	
}


/*Thank You*/

.thankyou {
	text-align: center;
	font-family: 'Pontano Sans', sans-serif;
}

/*Footer*/

.ig {
height: 17px;
	width: 17px;
float:right;
padding:2px;
	    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.ig:hover {
	opacity: 0.3;
}

.pinterest {
	height: 17px;
	width: 17px;
float:right;
	padding:2px;
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.pinterest:hover {
	opacity: 0.3;
}


.rights {
		font-family: 'Pontano Sans', sans-serif;
	color:grey;
	font-size: 12px;
	
}
